[submodule "src/lib/libc"]
	path = src/lib/libc
	url = https://github.com/simplixos/libc.git
[submodule "src/lib/libmodule"]
	path = src/lib/libmodule
	url = https://github.com/simplixos/libmodule.git
[submodule "src/lib/libposix"]
	path = src/lib/libposix
	url = https://github.com/simplixos/libposix.git
