[submodule "src/lib/libc"]
	path = src/lib/libc
	url = https://git.simplixos.org/pub/scm/kernel/libs/libc.git
[submodule "src/lib/libmodule"]
	path = src/lib/libmodule
	url = https://git.simplixos.org/pub/scm/kernel/libs/libmodule.git
[submodule "src/lib/libposix"]
	path = src/lib/libposix
	url = https://git.simplixos.org/pub/scm/kernel/libs/libposix.git
